<div class="raffle-link">
  <span class="raffle-link__label raffle-link__label--<%= channel %>"><%= label %></span>
  <code class="raffle-link__url"><%= url %></code>
  <button type="button" class="raffle-btn raffle-btn--ghost raffle-btn--sm raffle-link__copy"
          data-copy="<%= url %>" data-label="Copy">Copy</button>
</div>
